.logo {
  width: 70px;
  height: 70px;
}

.nav-theme {
  background-color: #101018f8;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: mymove 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateX(0rem);
  }
}



